<%- include('../Layout/header.ejs') -%>
<div class="homePageHeading">
<h1 class="heading">KALAM</h1>
</div>
<div class="des"> 
      <p class="desHeading">DESCRIPTION</p>
      <p class="desContent">This Website is a Tribute to the Missile Man of India: Dr APJ Abdul Kalam . Through this website , We aim to motivate as well as Literate people about the significant contributions of Dr. Abdul Kalam towards Our Country . This Website also contain pages that contains all the Books written by him also it contain redirect links to Buy those Books . This also website contains a WebPage containing all the Quotes of Dr. Abdul Kalam which can motivate people to bring out a change in the world which is favourable to the society. </p>
      </div>
<div class="titleLinks">

<div class="card-group">
  <div class="card">
    <img src="/images/about.png" class="card-img-top cardImg" alt="Image of About Link">
    <div class="card-body">
      <h5 class="card-title">ABOUT</h5>
      <p class="card-text">This Page contain a short Biography of Dr APJ Abdul Kalam .</p>
    <button type="button" class="btn btn-info" >Visit Page</button>

    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/books-page-screenshot.jpg" class="card-img-top cardImg " alt="Image of Book Page">
    <div class="card-body">
      <h5 class="card-title">BOOKS</h5>
      <p class="card-text">This page contains all the Books written by Dr APJ Abdul Kalam and also contains amazon Link to Buy those books</p>
    <button type="button" class="btn btn-info" >Visit Page</button>

    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/coming-soon.jpg" class="card-img-top card cardImg" alt="Image of Quotes Page">
    <div class="card-body">
      <h5 class="card-title">Quotes</h5>
      <p class="card-text">This page contains all the quotes said by Dr APJ Abdul Kalam which are very inspiring and motivating to the youth.</p>
    <button type="button" class="btn btn-info" >Visit Page</button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>      
     <%- include('../Layout/footer.ejs') %>